{% extends 'base.html' %}
{% load product_filters %}

{% block title %}
    {% if form.instance.pk %}Edit Product{% else %}New Product{% endif %}
{% endblock %}

{% block content %}

<h1 class="text-center text-danger mb-4">
    {% if form.instance.pk %}Edit Product{% else %}Create Product{% endif %}
</h1>

<div class="container" style="max-width: 700px;">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="text-center mt-3">
            <button class="btn" type="submit">
                {% if form.instance.pk %}Save Changes{% else %}Create Product{% endif %}
            </button>
        </div>
    </form>

</div>

{% endblock %}